

.giphy-list{
    display: flex;
    flex-wrap: wrap;
}

.giphy{
    margin: 10px;
    width: 250px;
    height: 250px;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

.api-failed{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.failed-message{
    font-size: 20px;
}

.failed-image{
    width: 30%;
}